body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.main {
  border-radius: 3px;
  box-shadow: 0px 0px 8px rgb(175, 175, 175);
  position: absolute;
}
.handler {
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: #429acc;
  border: 1px solid #429acc;
}
.w {
  top: 50%;
  margin-top: -3px;
  left: -3px;
  /* cursor: ew-resize; */
}
.e {
  top: 50%;
  margin-top: -3px;
  right: -3px;
  /* cursor: ew-resize; */
}
.n {
  top: -3px;
  margin-left: -3px;
  left: 50%;
  /* cursor: ns-resize; */
}
.s {
  bottom: -3px;
  margin-left: -3px;
  left: 50%;
  /* cursor: ns-resize; */
}
.nw {
  top: -3px;
  left: -3px;
  /* cursor: nwse-resize; */
}
.ne {
  top: -3px;
  right: -3px;
  /* cursor: nesw-resize; */
}
.sw {
  bottom: -3px;
  left: -3px;
  /* cursor: nesw-resize; */
}
.se {
  bottom: -3px;
  right: -3px;
  /* cursor: nwse-resize; */
}

.rotateHandler {
  position: absolute;
  width: 60px;
  height: 60px;
  border: 1px solid #d7d7d7;
  z-index: -1;
}
.rnw {
  top: -65px;
  left: -65px;
  cursor: pointer;
}
.rne {
  top: -65px;
  right: -65px;
  cursor: pointer;
}
.rsw {
  bottom: -65px;
  left: -65px;
  cursor: pointer;
}
.rse {
  bottom: -65px;
  right: -65px;
  cursor: pointer;
}
